
.header-guanggao{background-color: #FF3859;width: 100%; .cont{position:relative;}  img{
text-align: center;display: block;width: 1000px;height: 50px;margin:0 auto;}
span{color:white;position:absolute;top: 0;right: 0;}
}

.header{width: 100%;.cont{line-height: 36px;color:#999999;
    font:12px arial; .top-l{span{line-height: 36px;margin-left:4px; a{color:#999;}}}
}}
.header .cont .top-l span:nth-of-type(4) a{color:#CB351A;}
// .header .cont {background-color: #F5F5F5;}
.header .wrap {background-color: #F5F5F5;}

// logo

.header .cont .header-logo a {width: 20px;.cont{ul{li{a{color:white;}}}};height: 36px;display: inline-block;background: url(../css/img/headerlogo.png)no-repeat;}
.header .cont .header-logo a:nth-of-type(1){background-position: 4px 10px;}
.header .cont .header-logo a:nth-of-type(2){background-position: -17px 10px;}
.header .cont .header-logo a:nth-of-type(3){background-position: -42px 10px;}
.header .cont .header-logo a:nth-of-type(4){background-position: -64px 10px;} 
.header .cont  p{margin-right: 15px;}
.header .cont .phone span{display: inline-block;height: 36px;line-height: 36px;}

.header .cont .gongneng{a{color:#999;line-height: 36px;border-right: 1px solid #999;padding:0 7px;}}

// 搜索框
.search{width: 100%;}
.search .searchBox p{width: 494px;height: 40px;margin-left: 60px;margin-top:34px;input{width: 400px;height: 36px;border:2px solid #CC1D00;}
button{width: 80px;height: 40px;background-color: #CC1D00;font-size: 16px;color:white;}}
.search .searchR img{margin-top: 20px;}
.search .searchBox{ul{li{float:left;margin-right:12px;a{color:#999;}}}}
.search .searchBox{ul{margin-left: 60px;line-height: 24px;}}
.header .fenlei .cont{font-size: 15px;ul{li{float: left;a{color:#999;line-height: 36px;padding:0 13px;}}}div{width: 180px;height: 36px;background-color:#CB351A;border:1px solid #CB351A;text-align: center;line-height: 36px;color:white;}}
.header .fenlei .cont .gwc {background-color: #F9F9F9;width: 198px;color:#7A7A7A;border:1px solid #ccc;i{font-size: 18px;}}

// 二级菜单
.nav{position: absolute;left:80px;top: 0;z-index: 10;}

.nav ul li{width:182px;height: 51px;background-color: #CB3E25;font-size: 14px;i{font-size: 24px;color:white;line-height:49px;
width: 39px;height: 49px;display:inline-block;text-align: right;} h3{a{color:#ECA57B;font-size: 14px;}}}
.nav ul li{border-top:1px solid #DA5A44;border-bottom: 1px solid #b82f17;div{display: inline-block;margin:9px 0px 0 6px;a{color:#ECA598;}h3{a{color:white;}}}}
.nav2-box{display: none;position: absolute;left:261px;top:0;background-color: #fff;width: 377px;height: 412px;padding:12px 8px 12px 15px;line-height: 20px;border: 1px solid #ccc;strong{display: block;font-size: 12px;}}
.nav2-box p{a{margin-right: 37px;color:#666;font-size: 12px;}}
.nav2-box p {border-bottom: 1px dotted #ccc;strong{padding-top: 10px;}}

// banner 部分
.zhengDian{background-color:#f3f3f3;padding-bottom: 30px;}
.banner{width: 100%;height: 480px;background-color: #FEDECC;.banner-R{position: absolute;left: 1070px;top:0px;a{display: block;}};position: relative;.cont{img{margin-left: 180px;}}}
.zhengDian-t h3 {height: 38px;width: 41px;background: url(../css/img/jlt.png)no-repeat;background-position:-58px -44px;font-size: 20px;font-weight: bold;}
.zhengDian-t{line-height: 41px;font-size: 12px;color:#999;}
.zhengDian-D{div{width: 20%;float: left;text-align: center;background-color: #444851;color:white;span{font-size: 12px;}}}

// 抢购商品
.zdSp{background-color:#f3f3f3;}
.zdSp .cont{ul{li{width: 290px;box-shadow: 0px 0px 5px 0px #d8d7d7;float: left;height: 335px;background-color: white;p{i{font-size: 12px;color: #999;}del{color:#999;font-size: 12px;}button{background-color:#F95D5E;color:white;width: 90px;height: 32px;border-radius: 5px;margin-right: 20px;}
span{color:red;font-weight: 900;}}img{display: block;margin:0 auto;} a{color:#999;font-size: 12px;margin-left: 15px;}}}}

.zdSp .cont{ul{background-color:#f3f3f3;li{padding-bottom: 10px;margin-right: 10px;p{text-align: center;margin-top: 20px;}}}}
.zdSp .cont ul li:nth-of-type(4){margin-right: 0;}

// 天天特卖
.tiantian{background-color: #f3f3f3;padding-top: 25px;}
.tt{li{float: left;width: 290px;height: 290px;margin-right: 10px;margin-bottom: 10px;box-sizing:border-box;box-shadow: 0px 0px 5px 0px #d8d7d7;}}
.tt li:nth-child(4n){margin-right: 0;}
// .tt li p:nth-of-type(1){font-size: 14px;margin-left: 5px;}
.tt li .d2{position: relative;padding:10px 10px 0 10px;font-family: "microsoft yahei";p{margin-bottom: 5px;};span{font-size: 12px;color:#999;}}
.tt li .d2 p:nth-of-type(2){color:#e02200;font-weight: bold;position: absolute;right: 15px;top: 15px;}
.youlike{background-color: #f3f3f3;padding-top: 25px;}
.youlike .ylike li{float: left;width: 230px;height: 220px;box-shadow: 0px 0px 5px 0px #d8d7d7;margin-bottom: 10px;div{text-align: center;overflow: hidden;
 margin-top: 20px;   
text-overflow:ellipsis;width: 210px;padding:0 10px;white-space: nowrap;p{font-size: 18px;font-weight: bold;color:red;line-height: 37px;}};a{font-size: 12px;color:#999;}
background-color: white;margin-right: 10px;img{width: 150px;height: 150px;display: block;margin:0 auto;}}
.youlike .ylike li:nth-child(5n){margin-right: 0;}
// 分层--------------------
.f1{background-color: #f3f3f3;height: 495px;padding-top: 30px;h3{position: relative;b{position: absolute;left:-8px;top:-9px;display: block;
    width: 30px;
    height: 40px;
    line-height: 50px;
    margin: 0 11px 0 28px;
    font-size: 18px;
    background-color: #8BE9E9;
    width: 30px;
    height: 40px;
    line-height: 50px;
    margin: 0 11px 0 28px;
    font-size: 18px;
    text-align: center;}};div{box-shadow: 0px 0px 5px 0px #d8d7d7;}}
.f1-l{width: 178px;position: relative;h3{height: 42px;
    margin-top: 4px;width: 178px;line-height: 40px; position: absolute; top: -4px;left: 0px;color: #fff;text-align: center;
    background-color: #03a4fe;font-size: 16px;font-family: "microsoft yahei";border-bottom: 4px solid #fff;}height: 443px;padding-top: 46px;border: 1px solid #ededed;background: #fff;
    float: left;margin-right: 10px;.list{overflow: hidden;box-shadow: 0 0 0 0;padding: 13px 0 13px 25px;height: 210px;a{display: block;width: 62px;height: 30px;font-size: 12px;color:#999;float: left;;}}}
.f1-c2{padding-right: 10px;}
.f1-l .list .listcolor{color:#03a4fe;}
.f1-c1{padding-right: 10px;.fi-c1xia{margin-top: 10px;}}
.f1-c1 a,.f1-c2 a{display: block;}
.f1-c2 a:nth-of-type(2){margin-top: 11px;}
.f1-r a{display: block;}
.two{margin-top: 10px;margin-bottom: 10px;}
.tuijian{background-color: #f3f3f3;padding-top: 30px;h2{line-height: 35px;}}