.main{height: 620px;background: url(../img/zhucleft.png) no-repeat;}
.biaodan{width: 372px;height: 482px;border: 1px solid #ccc;border-top: #ea3918 2px solid;
    width: 290px;
    float: right;
    margin-right: 250px;
    margin-top: 30px;
    padding: 20px 40px;
    h3{font-size: 18px;font-weight: bold;}
    .btr{font-size: 12px;line-height: 26px;a{color:#999;}}
}
.main ul li {span{color:red;font-size: 12px;display: none;}margin-bottom: 10px;input{width: 278px;
    padding: 0px 5px;border: 1px solid #dedede; 
    color: #999;
    font-size: 14px;
    height: 30px;
    line-height: 30px;}}
    .biaoti{margin-bottom: 20px;}
    .main ul li{height: 56px;}
    .main ul li .inputw{width: 110px;height: 32px;}
    .huan{color:#999;font-size: 12px;}

    .sjyz{margin:0 10px;border:1px solid #ccc;}
    .xybtn{height: 36px;background-color: #EEEEEE;padding:0 10px;}
    .yedu .kuang{width: 13px;height: 13px;}
    .yedu {font-size:12;a{color:#999;font-size: 12px;}}
    .main .yedu li{height: 15px;}
    .main .yedubtn input{background-color: #e83917;border-radius: 5px;font-size: 20px;color:white;height: 40px;}
    .duanxin{margin-top: 30px;}